html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-image: radial-gradient(ellipse at center, rgba(235, 209, 170, 0.692) 0%, rgba(209, 153, 80, 0.575) 100%);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.book {
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page {
  overflow: hidden;
  width: 49%;
  height: 98%;
  padding: 20px;
  position: absolute;
  top: 1%;
  left: 50%;
  font-size: 16px;
  line-height: 25px;
  color: black;
  background-color: blanchedalmond;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.15)), color-stop(10%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 10%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  z-index: 4;
}

.page:nth-of-type(2n) {
  left: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.12)), color-stop(10%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 10%);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.page:nth-of-type(2n):not(.cover) {
  left: calc(1% + 1px);
}

.page h2 {
  text-align: center;
}

input[type=radio] {
  display: none;
}

input:checked ~ .page {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

input:checked ~ .page:nth-of-type(2n) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

input:checked ~ .page:nth-of-type(2n-1) {
  z-index: 3;
}

input:checked ~ .page:nth-of-type(2n-1) ~ .page:nth-of-type(2n-1) {
  z-index: 1;
}

input:checked + .page + .page + input + .page {
  z-index: 2 !important;
}

.cover {
  width: 50%;
  height: 100%;
  top: 0;
  border-radius: 0 5px 5px 0;
  background-color: #82a85e;
}

.cover h1 {
  color: #97dac9;
  text-align: center;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
  margin-top: 50%;
  position: relative;
}

.cover h1::after {
  content: "";
  display: block;
  width: 60px;
  position: absolute;
  bottom: -20px;
  margin-left: -30px;
  left: 50%;
  border-top: 1px solid #000000;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.cover + .cover {
  border-radius: 3px 0 0 3px;
}

.cover:first-of-type, .cover:last-of-type {
  background-image: none;
}

.cover:first-of-type::before, .cover:last-of-type::before {
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 2px dashed rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 9px;
  left: 9px;
}
/*# sourceMappingURL=flipbook.css.map */